@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Oswald&display=swap');

html {
  background: url(images/skyline.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  text-align: center;
  width:80vw;
  color: white;
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: .25;
  }

  to {
    opacity: 1;
  }
}
ul.sidenav {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 80vw;
  overflow: auto;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

ul.sidenav li a {
  display: block;
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
  float: left;
  padding: 15px;
}

ul.sidenav li a.active {
  color: orange;
}

ul.sidenav li a:hover:not(.active) {
  color: orange;
}

#sidebarToggle {
  top: 10vh;
  left: 10vw;
  display: none;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 80vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000; 
  display: block;
  transition: left 0.3s ease;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  padding: 20px;
}
.closeButton{
  position:absolute;
  top:3%;
  left:5%;
}
@media screen and (max-width: 1000px) {
  ul.sidenav {
  margin:0;
  display: grid;
  justify-content: space-between;
  align-items: center;
  width:fit-content;
  left: -250px;
  overflow:hidden;
  }
  ul.sidenav li a {
    text-align: center;
    background-color: white;
    float: none;
  }
  .sidenav.active {
    left: 0;
  }
  .overlay.active {
    left:0;
  }
  #sidebarToggle {
    display: block;
  }
}